[Install]
WantedBy = multi-user.target

[Unit]
Description = {{service_name}} service
After       = docker.service
Requires    = docker.service

[Service]
ExecStartPre = -{{docker.cli_executible}} build --tag {{docker_images.service.name}}:{{docker_images.service.tag}} {{docker_images.service.path}}
ExecStartPre = -{{docker.compose_executible}} --project-directory {{docker_compose.path}} \
                               --file {{docker_compose.path}}/{{docker_compose.filename}} \
                               --project-name {{service_name}} \
                               down --remove-orphans

ExecStart = {{docker.compose_executible}} --project-directory {{docker_compose.path}} \
                           --file {{docker_compose.path}}/{{docker_compose.filename}} \
                           --project-name {{service_name}} \
                           up

ExecStop  = -{{docker.compose_executible}} --project-directory {{docker_compose.path}} \
                                            --file {{docker_compose.path}}/{{docker_compose.filename}} \
                                            --project-name {{service_name}} \
                                            down --remove-orphans

Restart = always
RestartSec = 60s
TimeoutSec=60
